$purple: #5A59D5;
$ltpurple: #CBCBF4;
$textMedGrey: #ADADB3;
$navGray:#F8F7F7;
$black: #423c3c;
$tinyFont: .1em;
* {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

.float-right {
    float: right;
}

.fa-chevron-right {
    color: #CCCCCF;
}

.no-border-btm {
    border-bottom: none !important;
}

.container {
    background-color: #EDF0F7;
    width: 373px;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 50px 5px 5px;
}

.row {
    border: 1px solid $black;
    border-radius: 2px;
    background-color: #EFEFF3;
}

header {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #D9D9DE;
    padding: 15px;
    background-color: #F8F7F7;
    margin-bottom: 1.2em;
    span {
        flex-grow: 1;
    }
    span a {
        color: $purple;
    }
    h1 {
        font-size: 1em;
        font-weight: 700;
        flex-grow: 1;
        margin: 0;
        padding: 0;
    }
}

h4 {
    font-weight: 400;
    font-size: .8em;
    color: $textMedGrey;
    padding-left: 15px;
}

section {
    margin-bottom: 20px;
    background-color: white;
    &.provider {
        border-top: 1px solid #E2E2E5;
        border-bottom: 1px solid #E2E2E5;
        padding: 15px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(4, auto);
        align-items: center;
        h2 {
            font-size: 1.3em;
            font-weight: 400;
        }
        a {
            color: #CCCCCF;
        }
        a:hover {
            color: $purple;
        }
        p {
            color: #bcbcbc
        }
        img {
            display: block
        }
    }
    &.visit-details {
        background-color: white;
        padding: 3px 8px;
        margin-top: 5px;
        .content {
            margin: 8px 15px;
            padding-bottom: 12px;
            background-color: white;
            display: grid;
            grid-template-columns: 66% 34%;
            border-bottom: 1px solid #dcdce2;
            align-items: center;
        }
        p {
            color: $black;
            font-size: .7em;
        }
        h5 {
            color: $textMedGrey;
            font-weight: normal;
            font-size: .5em;
        }
        .apptStatus button {
            background-color: $purple;
            border-radius: 20px;
            color: white;
            float: right;
            padding: 5px 25px;
            font-size: $tinyFont;
        }
    }
    &.actions {
        .content {
            margin: 0 15px;
            padding-top: 10px;
            background-color: white;
            display: grid;
            grid-template-columns: 13% 66% 20%;
            align-items: center;
            div:last-child {
                text-align: right
            }
            span {
                background-color: $ltpurple;
                border-radius: 10px;
                font-size: $tinyFont;
                padding: 3px 7px;
                margin-right: 4px;
            }
            div:not(.icon) {
                border-bottom: 1px solid #dcdce2;
                padding-bottom: 11px;
            }
        }
        .content:last-child>div {
            border: none;
        }
    }
}

nav {
    background-color: $navGray;
    display: flex;
    justify-content: space-around;
    padding: 3px;
    align-items: flex-end;
    div {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    a {
        font-size: $tinyFont;
        text-decoration: none;
        color: $black;
        &.active {
            color: $purple;
        }
    }
}